.container{
    background-color: black;
    max-width: 50%;
    max-height: 100%;
    min-height: 60em;
    margin: auto;
}

@media(max-width: 800px){
    .container{
        width: 90%;
        min-width: 350px;
    }
}


header{
    background-color: grey;
    height: 10em;
}

form{
    display: flex;
    justify-content: center;
    padding-top: 3.5em;
}

input{
    padding: 1em;
    max-width: 35%;
}

.movie-list{
    color: white;
}

h2{
    color: white;
}

.poster{
    width: 150px;
}

